* {margin: 0; padding: 0}


body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background: white;
    padding: 20px;
}

.site-title {
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 20px;
}

.page-title {
    text-align: center;
}

.main-menu {
    text-align: left;
    padding: 10px;
    /* display: flex; justify-content: space-between; */
}

.menu-item {
    margin: 0 10px;
    text-decoration: none;
    padding: 10px;
}

.main-content {
    width: 80vw;
    max-width: 1200px;
    margin: 0 10vw;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-image {
    width: 500px;
    height: 500px;
}

.caption {
    text-align: center;
    padding: 100px;
}

* {
    margin: 0;
    padding: 0;
}

.content-box {
    width: 240px;
    height: 60px;
    border-radius: 6px;
    background-color: olive;
    padding: 20px;
}

.content-before {
    font-size: 22px;
    font-family: arial;
    color: #fff;
    text-align: center;
    line-height: 60px;
}

.content-after {
    display: none;
    font-size: 14px;
    font-family: arial;
    color: #fff;
    text-align: left;
    line-height: 16px;
    opacity: 0;
}
